@import '../shared/shared-style/shared-style';


mat-list-item {
    width: auto;
    height: auto !important;
    padding: 0;
}

.footer_bottom_center_link {
    color: $light-text-color !important;
    padding: 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        background-color: $main-color;
        transition: 0.5s ease;
        height: 2px;
        width: 0;
        top: 20px;
    }

    &:hover::before {
        width: 100%;
    }
} 

.footer_bootom_item_left {
    color: $light-text-color;
    padding-left: 25px;
    padding-top: 5px;
    position: relative;

    div {
        text-wrap: wrap;
    }

    &:hover {
        color: #999999;
        transition: all 0.3s ease;
    }
}