.category_title::after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #444444;
    position: absolute;
    right: -3px;
    top: 0;
}

.category_item .open{
    margin-bottom: 24px;
    margin-top: 30px;
    overflow-y: auto;
}

.category_item .open{
    max-height: 160px;
    overflow-x: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.open::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 5px;
}

.open::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top,
            color-stop(0.62, #ff4c3b),
            color-stop(0.86, #ff4c3b));
}