<app-title [titleOfPage]="'checkout'" [lacationOfPage]="'checkout'"></app-title>

<section class="!py-[70px] max-w-[1400px] !mx-auto !my-0 !px-3 flex">
    <div class="w-1/2">
        <div class="!mb-[35px]">
            <h3 class="!mb-2 text-[#444444] dark:text-[#f1f3f5] text-2xl font-bold tracking-[0.72px]">Billing Details</h3>
        </div>
        <form [formGroup]="checkoutForm" class="billing_form">
            @for (item of formFields; let i = $index; track i){
                @if (item != 'Country') {
                    <span>
                        <mat-form-field color="accent" class="!h-[75px] relative !mr-[25px] !mb-[25px] dark:bg-[#383838] dark:text-[#f1f3f5]"
                            [class]="{'half-width': i < 4, 'full-width': i >= 4}">
                            <mat-label>{{item}}</mat-label>
                            <input matInput [formControlName]="item" required>
                            @if (checkoutForm.get(item)?.invalid) {
                                <mat-error>
                                    {{getErrorMessage(item)}}
                                </mat-error>
                            }
                        </mat-form-field>
                    </span>
                }
                @else {
                    <span>
                        <mat-form-field color="accent" class="full-width !h-[75px] relative !mr-[25px] !mb-[25px]">
                            <mat-label>Select Country</mat-label>
                            <mat-select formControlName="Country" required>
                                @for (country of countryOptions; track $index) {
                                    <mat-option [value]="country">{{country}}</mat-option>
                                }
                            </mat-select>
                            @if(checkoutForm.get('Country')?.invalid){
                                <mat-error>
                                    {{getErrorMessage('Country')}}
                                </mat-error>
                            }
                        </mat-form-field>
                    </span>
                }
            }

        </form>

        <app-checkout-card [cardTitle]="'STRIPE JS'" [cardSubtitle]="'DUMMY TEST'"
            [dataSource]="dataSourceStripeJs"></app-checkout-card>

        <app-checkout-card [cardTitle]="'PAYPAL'" [cardSubtitle]="'DUMMY TEST'"
            [dataSource]="dataSourcePaypal"></app-checkout-card>

    </div>
    <div class="w-1/2">
        <mat-card class="bg-[#f9f9f9] dark:!bg-[#2b2b2b] border-[#dddddd] dark:border-[#616060] shadow-none rounded-none relative !p-10">
            <mat-card-content>
                <div>
                    <div class="!border-b border-[#dddddd] dark:border-[#616060] !pb-[25px] flex justify-between !mb-5">
                        <h2 class="text-[22px] font-semibold leading-[33px] text-[#444444] dark:text-[#bdbdbd]">Product</h2>
                        <h2 class="w-[35%] text-[22px] font-semibold leading-[33px] text-[#444444] dark:text-[#bdbdbd]">Total</h2>
                    </div>

                    @for (item of productsList; track $index) {
                        <div class="flex justify-between !mb-5">
                            <p class="text-[15px] leading-5 text-[#444444] dark:text-[#bdbdbd] w-[300px]">
                                {{item.name}}
                                <mat-icon class="text-sm !pt-[10px] !pl[5px]">close</mat-icon>
                                {{item.quantity}}
                            </p>
                            <p class="text-lg text-[#222222] dark:text-[#f1f3f5] leading-5 font-normal w-[35%]">{{item.price | currency}}</p>
                        </div>
                    }

                    <div class="capitalize border-b border-t border-[#dddddd] dark:border-[#616060] !mb-[30px] !pt-5">
                        <div class="flex justify-between !mb-5">
                            <p class="font-semibold leading-5 text-base text-[#333333] dark:text-[#bdbdbd]">subtotal</p>
                            <p class="text-lg leading-5 !text-primary w-[35%]">{{subtotal | currency}}</p>
                        </div>
                        <div class="flex justify-between !mb-5">
                            <p class="font-semibold leading-5 text-base text-[#333333] dark:text-[#bdbdbd]">shipping</p>
                            <div class="w-[36.6%]">

                                <div class="block !pl-2.5 !mb-2 text-[#6f6f6f] font-semibold leading-8">
                                    <input type="radio" name="radio1" id="shipping_option">
                                    <label for="shipping_option" class="!pl-2.5 cursor-pointer">Shipping</label>
                                </div>

                                <div class="block !pl-2.5 !mb-2 text-[#6f6f6f] font-semibold leading-8">
                                    <input type="radio" name="radio1" id="local_pickup_option">
                                    <label for="local_pickup_option" class="!pl-2.5 cursor-pointer">Local Pickup</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between !mb-10 capitalize">
                        <p class="text-[#333333] dark:text-[#bdbdbd] text-base leading-5">total</p>
                        <p class="text-lg leading-5 !text-primary w-[35%]">{{subtotal | currency}}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="!mb-[15px] text-[#6f6f6f] text-base font-semibold leading-5">
                            <input type="radio" name="radio2" id="stripe_option">
                            <label for="stripe_option" class="!pl-2.5 cursor-pointer">Stripe</label>
                        </div>
                        <div class="cursor-pointer !mb-[15px] text-[#6f6f6f] text-base font-semibold leading-5">
                            <input type="radio" name="radio2" id="paypal_option">
                            <label for="paypal_option" class="!pl-2.5 cursor-pointer">PayPal</label>

                            <div class="!mb-[5px]">
                                <img src="../../assets/images/paypal-checkout.png" alt="paypal">
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                        <button mat-raised-button type="submit" color="primary" [disabled]="!checkoutForm.valid"
                            class="text-sm !py-[25px] !px-9 uppercase">Place Order</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>