<section class="recent_story">
    <div class="recent_container">
      <div class="recent_title">
        <h2 class="title_h2">recent story</h2>
  
        <div class="page_line">
          <span class="page_line_span"></span>
        </div>
      </div>
      <div class="recent_story_box">
        @for (item of stories; track $index) {
            <div class="recent_detail">
              <a href="#">
                <div class="recent_img_box">
                  <img class="recent_img" [src]="item.imgUrl" alt="recent story" />
                  <span class="recent_effect"></span>
                </div>
              </a>
              <div class="recent_info">
                <h4 class="recent_h4">{{ item.date }}</h4>
                <a href="">
                  <p class="recent_text">
                    Lorem ipsum dolor sit consectetur adipiscing elit,
                  </p>
                </a>
                <hr class="recent_line" />
                <p class="recent_author">by:John Dio , 2 Comment</p>
              </div>
            </div>
        }
      </div>
    </div>
  </section>
  