<section class="!pt-[70px] !pb-[70px] bg-[#f1f5f4]">
    <div class="max-w-[1400px] !pl-3 !pr-3 !my-0 !mx-auto">
      <div class="recent_title">
        <h2 class="text-center text-4xl text-[#222222] uppercase relative font-bold leading-none tracking-[0.72px] !pb-[25px] !mb-0 !mt-[-5px]">recent story</h2>
  
        <div class="page_line relative w-[180px] h-[1px] bg-primary bottom-0 top-0 !mx-auto !my-0 !mb-[55px]">
          <span class="page_line_span"></span>
        </div>
      </div>
      <div class="flex">
        @for (item of stories; track $index) {
            <div class="!pl-3 !pr-3 w-[458.667px]">
              <a href="#">
                <div class="recent_img_box relative overflow-hidden">
                  <img class="w-full h-auto" [src]="item.imgUrl" alt="recent story" />
                  <span class="recent_effect h-[inherit]"></span>
                </div>
              </a>
              <div class="text-center">
                <h4 class="text-lg tracking-[0.54px] leading-none font-normal text-primary !mt-[25px]">{{ item.date }}</h4>
                <a href="">
                  <p class="text-lg tracking-[0.54px] font-bold uppercase text-[#222222] leading-[1.5] !mt-2.5 transition-all hover:text-primary">
                    Lorem ipsum dolor sit consectetur adipiscing elit,
                  </p>
                </a>
                <hr class="w-[75px] h-[3px] bg-primary !mx-auto !mt-[13px] !mb-4" />
                <p class="text-[#777777] text-sm font-normal tracking-[1.4px] leading-[14px]">by:John Dio , 2 Comment</p>
              </div>
            </div>
        }
      </div>
    </div>
  </section>
  