<app-title 
[titleOfPage]="productName"
[lacationOfPage]="'product'"
></app-title>

<section class="!pt-[70px] !pb-[70px]">
  <div class="max-w-[1400px] !my-0 !mx-auto !pl-3 !pr-3 flex">
    <div class="w-1/4 !pr-3">
      <app-collection-filter></app-collection-filter>
      <app-product-service></app-product-service>
      <app-new-product></app-new-product>
    </div>
    <div class="w-3/4">
      <app-product-information (productName)="getProductName($event)" ></app-product-information>
      <app-tab-product></app-tab-product>
    </div>
  </div>
  <app-related-product></app-related-product>
</section>

