.stars_rating {
    div:last-child {
        color: #dddddd;
    }
}

.submit_btn {
    font-family: 'Lato', sans-serif;
    padding: 13px 29px;
    background-image: linear-gradient(30deg, #ff4c3b 50%, transparent 50%);
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #ff4c3b;
    background-size: 850px;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.7px;
    margin-right: 7px;
    transition: background 300ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-position: 100%;
        color: #222222;
        background-color: #fff;
        transition: 0.3s ease-in-out;
    }
}