@import '../../shared/shared-style/shared-style';

.stars_rating {
    div:last-child {
        color: #dddddd;
    }
}

.submit_btn {
    font-family: 'Lato', sans-serif;
    padding: 13px 29px;
    background-image: linear-gradient(30deg, $main-color 50%, transparent 50%);
    color: $white-color;
    text-transform: uppercase;
    border: 2px solid $main-color;
    background-size: 850px;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.7px;
    margin-right: 7px;
    transition: background 300ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-position: 100%;
        color: $main-text-color;
        background-color: $white-color;
        transition: 0.3s ease-in-out;
    }
}