<div class="product_right_bottom">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Description">
            <div class="product_right_bottom_container">
                <p class="description">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters,It is a long established fact that a reader will be distracted by the readable content of
                    a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters.
                </p>
            </div>
        </mat-tab>
        <mat-tab label="Video"></mat-tab>
        <mat-tab label="Write Review">
            <div class="product_right_bottom_container">
                <form>
                    <div class="write_box">
                        <div class="rating_box">
                            <p>rating</p>
                            <div>
                                <div class="stars_rating">
                                    @for (item of starsArray; track $index) {
                                        <div class="star"><i class="fa fa-star"></i></div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="name_input">
                            <label for="name">name</label>
                            <input type="text" name="name" id="name" placeholder="Enter Your name">
                        </div>
                        <div class="email_input">
                            <label for="email">email</label>
                            <input type="text" name="email" id="email" placeholder="Email">
                        </div>
                        <div class="review_title">
                            <label for="review">Review Title</label>
                            <input type="text" name="review" id="review" placeholder="Enter your Review Subjects">
                        </div>
                        <div class="review_title">
                            <label for="review">Review Title</label>
                            <textarea type="text" name="review" id="review"
                                placeholder="Wrire Your Testimonial Here"></textarea>
                        </div>
                        <div>
                            <button class="submit_btn" type="submit">Submit Your Review</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>