<div class="!pt-[105px] !pl-3">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Description">
            <div class="!pt-2.5">
                <p class="text-sm text-[#777777] dark:text-[#bdbdbd] leading-6 tracking-[0.14px]">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters,It is a long established fact that a reader will be distracted by the readable content of
                    a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters.
                </p>
            </div>
        </mat-tab>
        <mat-tab label="Video"></mat-tab>
        <mat-tab label="Write Review">
            <div class="!pt-2.5">
                <form>
                    <div class="flex flex-wrap capitalize !pr-[60px] text-sm">
                        <div class="flex items-center w-full !pr-3 !mb-[25px]">
                            <p class="dark:text-[#f1f3f5]">rating</p>
                            <div>
                                <div class="stars_rating flex text-xs text-[#ffa200] !ml-4">
                                    @for (item of starsArray; track $index) {
                                        <div class="!mr-[5px]"><i class="fa fa-star"></i></div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="w-[50%] !pr-3">
                            <label class="!mb-[6px] inline-block dark:text-[#f1f3f5]" for="name">name</label>
                            <input class="border dark:bg-[#383838] dark:text-[#f1f3f5] border-[#dddddd] dark:border-[#616060] !py-[15px] !px-[25px] outline-none w-full !mb-[17px] text-[15px] h-[inherit]" type="text" name="name" id="name" placeholder="Enter Your name">
                        </div>
                        <div class="w-[50%]">
                            <label class="!mb-[6px] inline-block dark:text-[#f1f3f5]" for="email">email</label>
                            <input class="border dark:bg-[#383838] dark:text-[#f1f3f5] border-[#dddddd] dark:border-[#616060] !py-[15px] !px-[25px] outline-none w-full !mb-[17px] text-[15px] h-[inherit]" type="text" name="email" id="email" placeholder="Email">
                        </div>
                        <div class="w-full">
                            <label class="!mb-[6px] inline-block dark:text-[#f1f3f5]" for="review">Review Title</label>
                            <input class="border dark:bg-[#383838] dark:text-[#f1f3f5] border-[#dddddd] dark:border-[#616060] !py-[15px] !px-[25px] outline-none w-full !mb-[17px] text-[15px] h-[inherit]" type="text" name="review" id="review" placeholder="Enter your Review Subjects">
                        </div>
                        <div class="w-full">
                            <label class="!mb-[6px] inline-block dark:text-[#f1f3f5]" for="review">Review Title</label>
                            <textarea type="text" name="review" id="review" class="border dark:bg-[#383838] dark:text-[#f1f3f5] border-[#dddddd] dark:border-[#616060] !py-[15px] !px-[25px] outline-none w-full !mb-[17px] text-[15px] h-[170px]"
                                placeholder="Wrire Your Testimonial Here"></textarea>
                        </div>
                        <div>
                            <button class="submit_btn" type="submit">Submit Your Review</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>