<app-title [titleOfPage]="'cart'" [lacationOfPage]="'cart'"></app-title>

@if (!dataSource.length) {
    <section class="flex items-center justify-center">
        <div class="!py-[70px] flex flex-col items-center">
            <img class="!mb-6" src="../../assets/images/icon-empty-cart.png" alt="empty-cart">
            <h3 class="text-2xl font-bold tracking-[0.72px] leading-[29px] text-[#777777] !mb-2">Your Cart is Empty</h3>
            <h4 class="text-lg tracking-[0.54px] leading-none font-normal dark:text-[#bdbdbd]">Add Something To Make Me Happy :)</h4>
        </div>
    </section>
}
@else {
    <section>
        <div class="!py-[70px] !px-3 max-w-[1400px] !my-0 !mx-auto">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> image </th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/product-details',element.id]">
                            <img class="h-[106px] w-[95px] !py-2" [src]="element.image" alt="product image">
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> name </th>
                    <td mat-cell *matCellDef="let element">
                        <a href="" class="text-[#777777] capitalize font-normal text-sm">
                            {{element.name}}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> price </th>
                    <td mat-cell *matCellDef="let element">
                        <h2 class="text-[#222222] dark:text-[#f1f3f5] text-2xl font-normal">
                            {{element.price | currency}}
                        </h2>
                    </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> quantity </th>
                    <td mat-cell *matCellDef="let element">

                        <div class="product_quantity quantity_wrapper">
                            <div class="flex justify-center">
                                <button class="bg-[#fff] dark:bg-[#2b2b2b] h-full border border-[#dddddd] dark:border-[#616060] cursor-pointer !py-[16.2px] !px-[13.8px] text-[#585858] quantity_btn_left" type="button"
                                    (click)="reduceQuantity(quantity,element.id)">
                                    <i class="fa fa-chevron-left dark:text-[#bdbdbd]" aria-hidden="true"></i>
                                </button>
                                <input type="number" disabled [value]="element.quantity" class="!py-[6px] !px-3 w-[60px] text-end dark:border-[#616060] dark:text-[#bdbdbd] bg-[#e9ecef] dark:bg-[#3f3f3f] border-r border-b border-t border-[#dddddd] text-base" #quantity>
                                <button class="bg-[#fff] dark:bg-[#2b2b2b] h-full border border-[#dddddd] dark:border-[#616060] cursor-pointer !py-[16.2px] !px-[13.8px] text-[#585858] quantity_btn_right" type="button"
                                    (click)="increaseQuantity(quantity,element.id)">
                                    <i class="fa fa-chevron-right dark:text-[#bdbdbd]" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> action </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="cursor-pointer text-[#777777] dark:text-[#bdbdbd]" (click)="removeProduct(element.id)">close</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> total </th>
                    <td mat-cell *matCellDef="let element" class="text-2xl font-normal text-primary"> {{element.total | currency}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="text-[15px] font-bold flex items-center justify-end !pl-[57px] !pt-[30px] dark:text-[#f1f3f5] border-t border-[#dddddd] dark:border-[#616060]">
                Total Price:
                <h2 class="text-2xl !pl-[60px] dark:text-[#f1f3f5]">{{getTotalCost() | currency}}</h2>
            </div>
            <div class="flex items-center justify-between !pt-[35px]">
                <button class="!p-[22px] text-base uppercase font-bold" mat-raised-button color="primary" routerLink="/collection/electronics">continue shopping</button>
                <button class="!p-[22px] text-base uppercase font-bold" mat-raised-button color="primary" routerLink="/checkout">check out</button>
            </div>
        </div>

    </section>
}