<section class="!bg-[#f8f8f8] !py-[30px] !px-0 !mt-[30px]">
    <div class="max-w-[1400px] !py-0 !px-3 !my-0 !mx-auto flex items-center justify-between">
        <div class="title_of_page">
            <h2 class="text-[#222222] font-bold uppercase text-base tracking-[0.32px]">{{titleOfPage}}</h2>
        </div>
        <div class="uppercase text-[#555555] font-semibold text-sm leading-[21px]">
            <a class="!mx-[5px]">home</a> 
            <span class="!mx-[5px]">/</span>
            {{lacationOfPage}}
        </div>
    </div>
</section>