.product_box_list:hover .product_icons {
  opacity: 1;
  transition: all 0.5s ease;
  right: 0px;
  animation: icons;

  .heart {
    animation: icons 500ms ease-in-out;
  }

  .magnifying {
    animation: icons 700ms ease-in-out;
  }

  .refresh {
    animation: icons 1000ms ease-in-out;
  }
}

@keyframes icons {
  from {
    right: -20px;
  }

  to {
    right: 0px;
  }
}

::ng-deep .dark {
  .mat-mdc-table {
    background-color: #2b2b2b !important;
  }

  .mat-mdc-select,
  .mat-mdc-select-arrow {
    color: #f1f3f5 !important;
  }

  .mat-mdc-paginator-icon {
    fill: #f1f3f5 !important;
  }
  
  .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
    fill: #f1f3f58e !important;
  }
}