<mat-drawer-container class="!relative" autosize>
    <mat-drawer #drawer class="!w-[300px] !p-[27px] uppercase" mode="over">
        <a class="!block cursor-pointer border-b-[1px] border-solid border-b-[#dddddd] !pb-5 text-[#222222] text-lg font-bold z" (click)="drawer.toggle()">
            <i aria-hidden="true" class="fa fa-angle-left !pr-2.5"></i>
            back
        </a>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <a [routerLink]="'home'" (click)="drawer.toggle()">home</a>
            </mat-list-item>
            <mat-list-item role="listitem">collection
                <i [matMenuTriggerFor]="menu" aria-hidden="true" class="fa fa-angle-right !pl-[62px] cursor-pointer"></i>
                <mat-menu #menu="matMenu" class="mat_menu" xPosition="after">
                    <button 
                    mat-menu-item 
                    *ngFor="let item of collection"
                    (click)="drawer.toggle()"
                    [routerLink]="item"
                    >{{item}}</button>
                </mat-menu>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a routerLink="cart" (click)="drawer.toggle()">cart</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a routerLink="checkout" (click)="drawer.toggle()">checkout</a>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content class="!overflow-hidden">
        <div class="absolute top-[90px] left-[50px] !mt-4">
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon class="!text-[28px] !w-auto !h-auto !ml-0  dark:!text-[#cfd4d4]">menu</mat-icon>
            </button>
        </div>
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <div class="dark_light_btn" (click)="toggleTheme()">
             <mat-icon class="text-primary">{{theme}}</mat-icon>
        </div>
    </mat-drawer-content>
</mat-drawer-container>