<section class="!max-w-[1400px] !py-0 !px-[12px] !my-0 !mx-auto !pt-[70px]">
    <div class="offer_container">
        <div class="!w-1/2">
            <h2 class="!py-[45px] !px-0 text-center text-[#222222] text-[36px] uppercase tracking-[0.72px] !mt-0">
                save <span class="text-[#ff4c3b]">30% off</span> digital watch
            </h2>
        </div>

        <div class="!w-1/2 flex items-center justify-center">

            <div class="bg-[#2d2a25] w-[308px] !py-[15px] !px-0 !pl-10 !mt-4 flex">
                <div class="flex flex-col">
                    <span class="text-[#fff] text-lg">11 <span class="!pl-[22px]">:</span></span>
                    <span class="text-[#777777] inline-block leading-6 w-[70px] !pt-1 text-xs">Days</span>
                </div>
                <div class="flex flex-col">
                    <span class="text-[#fff] text-lg">11 <span class="!pl-[22px]">:</span></span>
                    <span class="text-[#777777] inline-block leading-6 w-[70px] !pt-1 text-xs">Hrs</span>
                </div>
                <div class="flex flex-col">
                    <span class="text-[#fff] text-lg">11 <span class="!pl-[22px]">:</span></span>
                    <span class="text-[#777777] inline-block leading-6 w-[70px] !pt-1 text-xs">Min</span>
                </div>
                <div class="flex flex-col">
                    <span class="text-[#fff] text-lg">11</span>
                    <span class="text-[#777777] inline-block leading-6 w-[70px] !pt-1 text-xs">Sec</span>
                </div>
            </div>

        </div>
    </div>
</section>