<section class="offer">
    <div class="offer_container">
        <div class="offer_title_box">
            <h2 class="offer_title">
                save <span class="offer_amount">30% off</span> digital watch
            </h2>
        </div>

        <div class="offer_timer_box">

            <div class="offer_timer">
                <div class="days">
                    <span class="offer_time">11 <span class="offer_dot">:</span></span>
                    <span class="offer_call">Days</span>
                </div>
                <div class="hrs">
                    <span class="offer_time">11 <span class="offer_dot">:</span></span>
                    <span class="offer_call">Hrs</span>
                </div>
                <div class="min">
                    <span class="offer_time">11 <span class="offer_dot">:</span></span>
                    <span class="offer_call">Min</span>
                </div>
                <div class="sec">
                    <span class="offer_time">11</span>
                    <span class="offer_call">Sec</span>
                </div>
            </div>

        </div>
    </div>
</section>