<section class="category">
    @for (item of categoryList; track $index) {
    <div class="category_product_box">
        @if (isLoading) {
            <mat-card ng-no-style class="category_product">
                <div>
                    <ngx-skeleton-loader count="1" animation="pulse" [theme]="{height: '175px',width:'108px'}"></ngx-skeleton-loader>
                </div>

                <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{width:'200px'}"></ngx-skeleton-loader>      

                <mat-card-content class="category_item_content">
                    <ngx-skeleton-loader count="3" appearance="line" animation="pulse" [theme]="{height: '15px', width:'230px','margin-bottom':'0px'}"></ngx-skeleton-loader>      
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" [routerLink]="['/collection',item.category]"
                        class="category_link">view more</button>
                </mat-card-actions>
            </mat-card>
        }@else {
            <mat-card ng-no-style class="category_product">
                <div>
                    <img class="category_img" [src]="item.image" alt="watch1">
                </div>
                <mat-card-header class="category_title_box">
                    <mat-card-title class="category_title">{{item.category}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="category_item_content">
                    {{item.description}}
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" [routerLink]="['/collection',item.category]"
                        class="category_link">view more</button>
                </mat-card-actions>
            </mat-card>
        }
    </div>
    }
</section>
