<section class="!bg-[#faeae8] !pt-[70px] !pb-[5px] !px-[50px] relative dark:!bg-[#2b2b2b]">
    <div>
      <div class="trending_title">
        <h2 class="text-center !text-4xl text-[#222222] dark:text-[#f1f3f5] uppercase relative font-bold leading-3 tracking-[0.72px] !pb-[25px] !mb-0 !mt-[-5px]">trending products</h2>
  
        <div class="page_line relative w-[180px] h-[1px] bg-primary bottom-0 top-0 !my-0 !mx-auto !mb-[55px]">
          <span class="page_line_span"></span>
        </div>
      </div>
  
      <div class="!mb-30px text-left">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="!flex items-center justify-center">
            @for (item of labels; track $index) {
                <mat-tab [label]="item">
        
                    @if (!newArrivalItems) {
                        <app-spinner></app-spinner>
                    }
                    @else {
                        <div>
                          <div class="flex flex-wrap justify-center transition-opacity ease-linear">
                            @for (item of newArrivalItems; track $index) {
                                <div class="!mt-0 !mb-[130px] !mx-[12px]">
                                  <div class="trending_product_box w-[315px] h-[340px]">
                                    <div class="relative overflow-hidden">
                                      <span class="uppercase text-[13px] font-bold bg-primary text-[#fff] rounded-full !py-[11px] !px-1 absolute top-[7px] left-[7px] text-center"> new </span>
                                      <a>
                                        <div class="bg-[#fff] h-[360px] w-[330px] flex items-center justify-center">
                                          <img class="h-[270px] w-[230px]" [src]="item.image" alt="trending_img" />
                                        </div>
                                      </a>
                                      <div class="trending_icons text-left bottom-0 left-[unset] absolute right-[-10px] my-0 mx-auto inline-block opacity-0 transition-all">
                                        <a title="Add to cart" class="transition-all relative" href="#">
                                          <i class="fa fa-shopping-cart fa-flip-horizontal !p-2.5 !block text-[#6f6f6f] text-[18px] transition-all relative hover:text-primary"></i>
                                        </a>
                                        <a title="Add to Wishlist" class="transition-all relative" href="#">
                                          <i class="fa fa-heart !p-2.5 !block text-[#6f6f6f] text-[18px] transition-all relative hover:text-primary heart"></i>
                                        </a>
                                        <a title="Quick View" class="transition-all relative" href="#">
                                          <i class="fa-solid fa-magnifying-glass !p-2.5 !block text-[#6f6f6f] text-[18px] transition-all relative hover:text-primary magnifying"></i>
                                        </a>
                                        <a title="Compare" class="transition-all relative" href="#">
                                          <i class="fa fa-refresh !p-2.5 !block text-[#6f6f6f] text-[18px] transition-all relative hover:text-primary refresh"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="!block">
                                      <div class="flex text-[18px] text-[#edb867]">
                                        @for (item of starsArray; track $index) {
                                            <div>★</div>
                                        }
                                      </div>
                                      <a [routerLink]="['/product-details',item.id]">
                                        <h6 class="trending_name dark:!text-[#bdbdbd]">{{ item.title }}</h6>
                                      </a>
                                      <h4 class="text-[#222222] text-[18px] font-bold tracking-wide !m-0 dark:text-[#f1f3f5]">{{ item.price | currency}}</h4>
                                    </div>
                                  </div>
                                </div>
                            }
                          </div>
                        </div>
                    }
                  
                </mat-tab>
            }
        </mat-tab-group>
      </div>
    </div>
  </section>