@use '@angular/material' as mat;

@include mat.core();

$multikart_angular_17_project-primary: mat.m2-define-palette(mat.$m2-red-palette, 500);
$multikart_angular_17_project-accent: mat.m2-define-palette(mat.$m2-indigo-palette, A200, A100, A400);

$multikart_angular_17_project-warn: mat.m2-define-palette(mat.$m2-red-palette);

$multikart_angular_17_project-theme: mat.m2-define-light-theme((
  color: (
    primary: $multikart_angular_17_project-primary,
    accent: $multikart_angular_17_project-accent,
    warn: $multikart_angular_17_project-warn,
  )
));

@include mat.all-component-themes($multikart_angular_17_project-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #222222;
}

.mat-drawer-container{
  background: #ffffff !important;
}

.dark {
  .mat-drawer-container{
    background: #383838 !important;
  }
  a {
    color: #cfd4d4;
  }
}